<form id="form">
  <label for="fname">Original Gravity (OG):</label><br />
  <input id="input" type="text" id="fname" name="fname" /><br />

  <label for="fname">Final Gravity (FG):</label><br />
  <input id="input" type="text" id="fname" name="fname" /><br />

  <label for="fname">Alcohol Content (ABV):</label><br />
  <input id="input" type="text" id="fname" name="fname" /><br />

  <label for="fname">Standard Reference Method (SRM):</label><br />
  <input id="input" type="text" id="fname" name="fname" /><br />

  <label for="fname">International Bitterness Units (IBU):</label><br />
  <input id="input" type="text" id="fname" name="fname" /><br />

  <label for="fname">Your Beer's Name:</label><br />
  <input id="input" type="text" id="fname" name="fname" /><br />

  <button id="button">Submit</button>
</form>
