<nav class="bg-black p-5">
  <ul class="relative flex flex-row items-center">
    <li class="text-xl text-white pr-2 font-semibold">Group 3</li>
    <li class="text-white px-2 hover:text-slate-400"><a href="/">Home</a></li>
    <li class="text-white px-2 hover:text-slate-400">
      <a href="/no_data_available">About</a>
    </li>
    <li class="text-white px-2 hover:text-slate-400">
      <a href="/tableu">Tableu</a>
    </li>
    <li class="text-white px-2 hover:text-slate-400">
      <a href="/database_verification">Dataset</a>
    </li>
  </ul>
</nav>
