<!DOCTYPE html>
<html lang="en">
  {% include 'componets/head.html' %}
  <body>
    {% include 'componets/nav.html' %}
      <div id="card">
        <h1>Your Beer</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          tristique suscipit diam fermentum tristique. Praesent dapibus ipsum
          non sem volutpat, at sodales lectus hendrerit. Nunc pretium, neque a
          tempus posuere, sapien elit malesuada nunc, nec mattis urna ante vel
          tellus. Nulla facilisi. Morbi sagittis, ligula vel ornare porttitor,
          erat erat rutrum nulla, vitae viverra ligula dolor tincidunt nulla.
          Sed ac euismod eros, non ultrices ligula. Pellentesque pharetra, nisi
          sed sagittis mollis, nunc augue dapibus mi, a mollis sapien sem sit
          amet leo. Nunc non ligula porta, sollicitudin arcu at, ultricies nisi.
          Duis et justo ipsum. Fusce erat elit, congue ac fringilla quis,
          commodo et nunc. Aliquam sagittis ante vel commodo fringilla. Mauris
          quis mollis risus, ut tincidunt tellus. Donec consequat sed nibh id
          hendrerit. Duis nec mauris nisi. Quisque semper libero ut sapien
          lacinia rhoncus non ut nunc. Donec venenatis urna nibh, non varius
          lorem ornare sed. Quisque id arcu ut est volutpat tempus. Maecenas
          eget odio a dolor cursus suscipit in vitae nunc. Duis id libero sem.
          Aenean faucibus ac ligula at accumsan. Maecenas hendrerit arcu augue,
          ut dictum lacus pretium ac. Vestibulum posuere augue dolor. Fusce
          aliquet ornare mi, nec fringilla lacus facilisis id. Proin commodo
          fermentum elit sit amet dapibus. Ut neque orci, fringilla a nisi ut,
          elementum sollicitudin enim. Sed placerat felis eu euismod
          scelerisque. Sed et dolor nisi.
        </p>
      </div>
    </div>
  </body>
</html>
