<!DOCTYPE html>
<html lang="en">
  {% include 'componets/head.html' %}
  <body class="bg-yellow-300 items-center font-mono">
    {% include 'componets/nav.html' %}
      <div class="container mx-auto px-4 flex flex-row items-center justify-center ">
        {% include 'componets/beer_card.html' %}
        <div class="bg-white rounded shadow-lg items-center justify-center p-4 border-4 border-black max-w-xl m-6">
          <img class="max-w-full rounded-lg h-auto" src="../../static/assets/{{ beer_img }}.jpg" alt={{ beer_name }}>
        </div>
      </div>
    </div>
  </body>
</html>
